snippet met "public method"
	public function ${1}(${2}): ${3}
	{
		${0}
	}

snippet pmet "protected method"
	protected function ${1}(${2}): ${3}
	{
		${0}
	}

snippet prmet "private method"
	private function ${1}(${2}): ${3}
	{
		${0}
	}

snippet test "test method (prefix)"
	public function test_${1}()
	{
		${0}
	}

